body {
  /* body tag element (EVERYTHING) */
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

header {
  flex: 0 80px;
  flex-direction: row;
  padding-left: 15%;
  padding-right: 15%;
  background-color: green;
  justify-content: center;
  align-items: center;
  color: white;
}

#logoDiv {
  /* id="logoDiv" */
  padding-left: 30px;
  padding-right: 30px;
}

.floatLeft {
  /* class="floatLeft" */
  float: left;
}

.floatRight {
  float: right;
}

section:nth-child(odd) {
  flex: 1;
  background-color: rgb(226, 226, 226);
}

section:nth-child(2) {
  flex: 6;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spacer {
  min-height: 20px;
}
.questionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.optionWrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.leftBTN {
  height: 200px;
  max-width: 400px;
  width: 25vw;
  background-color: rgb(134, 207, 29);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightBTN {
  height: 200px;
  max-width: 400px;
  width: 25vw;
  background-color: rgb(225, 33, 32);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prompt {
  display: flex;
  height: 100px;
  width: auto;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  flex: 0 100px;
  background-color: rgb(172, 172, 172);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.chartWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progressBarWrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.progBox {
  height: 50px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  border: solid;
  border-color: rgb(144, 242, 255);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-self: center;
}

.highlightedProgBox {
  height: 50px;
  width: 50px;
  background-color: orange;
  border: solid;
  border-color: rgb(144, 242, 255);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-self: center;
}
.LeftResponse {
  color: green;
}

.RightResponse {
  color: red;
}

@media (max-width: 1200px) {
  section:nth-child(odd) {
    flex: 0;
  }
}

@media (max-width: 600px) {
}
