body {  /* body tag element (EVERYTHING) */
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

header {
    flex: 0 80px;
    flex-direction: row;
    padding-left: 15%;
    padding-right: 15%;
    background-color: rgb(144, 242, 255);
    justify-content: center;
    align-items: center;
}

#logoDiv {  /* id="logoDiv" */
    padding-left: 30px;
    padding-right: 30px;
}

.floatLeft {    /* class="floatLeft" */
    float: left;
}

.floatRight {
    float: right;
}

section:nth-child(odd) {
    flex: 1;
    background-color: rgb(226, 226, 226);
}

section:nth-child(2) {
    flex: 6;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spacer {
    min-height: 20px;
}
.questionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.optionWrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}
.leftBTN {
    height: 200px;
    width: 25vw;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightBTN {
    height: 200px;
    width: 25vw;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prompt {
    
    display: flex;
    height: 100px;
    width: auto;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    flex: 0 100px;
    background-color: rgb(100, 100, 100);
}

.chartWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}